@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
}
/* 
  : NextJS로 앱을 만들 때 global css파일을 import 할 수 없다.
  : 페이지나 컴포넌트 내에 css를 import 하고 싶다면, module 이어야 한다.
  : _app 에서는 Global Styles를 import 할 수 있다.
*/
